{% extends "base.html" %}

{% block vehiculos %}

<div class="span9" id="mainCol">
    <ul class="breadcrumb">
		<li><a href="index.html">Inicio</a> <span class="divider">/</span></li>
		<li class="active">Acerca de </li>
    </ul>
	<h3> Colombia Sport Car</h3>	
	<hr class="soft"/>
	<h5>Quienes Somos</h5><br/>
	<p>
	Colombia Sport Car se enfoca en la importancion de vehiculos y accesorios de alta gama desde los estados unidos, teniendo en cuenta toda la normatividad y leyes en cuanto a la importancio de productos nuevos desde los estados unidos.


</p>
<h5>Mision</h5><br/>
<p>
Darle la oportunidad a los amantes de los buenos autos poder adquirirlos y disfrutarlos en colombia, brindando la oportunidad de solo preocuparse por tener el dinero y evitar la documentacion y los tramites para la importancion de los mismos.
</p>
<h5>Como Trabajamos</h5><br/>
<p>
Nuestro unico interes radica en que tu como cliente solo te preocupes por escoger el auto preferido dentro de nuestro listado, selecciones la version y accesorios que ma te gusten y hagas una consulta de cuanto efectivo quieres gastar y nosotros paso a seguir cumplimos el siguiente protocolo 

<p>1) Hacemos el contacto y las cotizaciones de acuerdo al automovil seleccionado.</p>
<p>2) Cuando tengo su seleecio se le enviara la cotizacion final con el valor neto a pagar.</p>
<p>3) Se realizara la transaccion de dinero a una de las cuentas bancarias verificadas por los clientes y sus abogados para garantizar a transparencia del proceso.</p>
Para tener en cuenta y como muestra de confiabilidad en el cliente se le exigira solo el deposito del 80% del valor de vehiculo y el restante era pago al momento de tener la factura de compra por parte del cocesionario americano.</p>
<p>4) el automovil sera enviado a nuestras bodegas en el exterior y emprendera el viaje de acuerdo a los factores estipulados por el cliente y los asesores.</p>
<p>5) en su llegada al pais colombia sport car se encargara de hacer todos los tramites de nacionalizacion pago de impuestos aranceles, seguros matricula y demas procedimentos que exija la ley colombiana.</p>
<p>6) el vehiculo sera llevado a su destino final y sera entregado unicamente a la persona natural o juridica que haya empezado el proceso de compra no se aceptan intermediarios ni se hara entrega a terceros.</p>
<p> 7) de la misma forma se hace para accesorios independientes y repuestos de si vehiculo. lo unico que varia en la documentacion de legalizacion de resto es similar el proceso de adquision y pago.</p>

Nota: EL AUTOMOVIL CUENTA CON UN SEGURO DE TRANSPORTE DESDE EL MOMENTO DE SU COMPRA AL MOMENTO DE SU ENTREGA, NO SE RESPONDES POR RECLAMACIONES DESPUES DE HABERSE FIRMADO EL ACTA DE ENTREGA 
</p>
	
</div>
</div>

{% endblock %}