{% extends "base.html" %}

{% block vehiculos %}

<div class="span9">
    <ul class="breadcrumb">
		<li><a href="../inicio">Inicio</a> <span class="divider">/</span></li>
		<li class="active">Vehiculos Aston Martin</li>
    </ul>
	<h3> Vehiculos <small class="pull-right"> 5 Vehiculos activos </small></h3>	
	<hr class="soft"/>
	<p>
		Aston Martin fue fundada en 1914 por el piloto Lionel Martin, vencedor en 1913 de la famosa carrera de montaña Aston-Clinton. Tuvo una destacada participación en numerosas competiciones de gran turismo. Históricamente, sus rivales más importantes son las firmas italianas Ferrari y Maserati y, recientemente, la marca alemana Porsche. Aportando un diferenciado estilo inglés, Aston Martin adquirió fama mundial al proveer los automóviles para las películas de James Bond, el agente 007. En Casino Royale (2006) y en Quantum of Solace (2008) el actor Daniel Craig utiliza un DBS plateado.

		En 2005 la marca volvió a las competiciones deportivas con éxito logrando un tercer puesto en la categoría GT de las 24 Horas de Le Mans con su modelo DBR9. Aston Martin ganó por última vez esa legendaria prueba en 1959.

		Durante casi toda su historia, Aston Martin ha fabricado automóviles de manera artesanal y en pequeñas series; entre 1957 y 2000 la producción total de la marca no llegó a doce mil unidades. Estos volúmenes se han incrementado en años recientes. En 2003, Aston Martin produjo 1.476 automóviles y en 2004 dio un notable salto a 2.400 unidades vendidas acercándose a la meta establecida por el Premier Automotive Group -cuando era su dueño-, de cinco mil automóviles anuales para 2006. La fábrica, inaugurada en 2004 en Gaydon, Inglaterra, tiene esa capacidad de producción. Las ventas del último año fiscal permitieron a la marca británica anunciar su primer ejercicio con ganancias desde 1962 terminando con el increíble récord de más de 40 años con balances en rojo. En el 2007 Aston Martin fabricó 7,250 automóviles, un incremento de 6.7% respecto al 2006.
	</p>
		  
<div id="myTab" class="pull-right">
 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
 <a href="#blockView" data-toggle="tab"><span class="btn btn-large active"><i class="icon-th-large icon-white"></i></span></a>
</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/vanquish1.jpg" style="width: 300px; height: 150px;"alt="" width="300px" height="300px"/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5> Vanquish  </h5>
				<p>
				 Vencer es la esencia destilada de Aston Martin en un hermoso diseño. Aumento rendimiento, artesanía meticulosa y lujo ofrecen una mezcla magistral de arte, tecnología, artesanía y pura adrenalina. Vanquish define una nueva raza de super grand tourer.

				</p>
				<a class="btn btn-small pull-right" href="aston_vanquish.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3> $365.000</h3>
			  <a href="aston_vanquish.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
			  <a href="aston_vanquish.html" class="btn btn-large">Detalles</a>
			
				</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/vantage1.jpg"style="width: 300px; height: 150px;" alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5> Vantage V12 </h5>
				<p>
				El V12 Vantage S ha tomado una receta abrasador y subió la temperatura. Capaz de acelerar desde el reposo hasta 60 mph en sólo 3,7 segundos y una velocidad máxima de 205 mph, que es el más rápido y la producción en serie orientada al conductor Aston Martin que hemos hecho nunca.
				</p>
				<a class="btn btn-small pull-right" href="aston_vantage.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $327.000</h3>
				<label class="checkbox">
				
				</label><br/>
				
				<a href="aston_vantage.htlm" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="aston_vantage.html" class="btn btn-large">Detalles</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/roadster1.jpg" style="width: 300px; height: 150px;" alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5> Vantage Roadster V12</h5>
				<p>
				El ejemplo más potente de la gama Vantage descapotable, V12 Vantage Roadster se mezcla el poder impresionante de Aston Martin de aspiración natural del motor V12 de 6.0 litros con la emoción establecidos de Vantage Roadster de conducir por lo que es una experiencia de auto deportivo inolvidable.
				</p>
				<a class="btn btn-small pull-right" href="aston_roadster.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $380.000</h3>
				<label class="checkbox">
				
				</label><br/>
				
				<a href="aston_roadster.htlm" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="aston_roadster.html" class="btn btn-large">Detalles</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/db1.jpg" style="width: 300px; height: 150px;"alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5> DB9 </h5>
				<p>
				La última de una dinastía ininterrumpida 50 años de modelos célebres DB, el nuevo DB9 es la columna vertebral de la gama Aston Martin. Sus curvas esbeltas y perfectas proporciones personifican nuestro compromiso de crear un diseño atemporal, mientras que su combinación de clase mundial de rendimiento V12 entusiasta y refinamiento madura se alaban como el deportivo definitivo Gran Turismo.
				</p>
				<a class="btn btn-small pull-right" href="aston_db9.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $315.000</h3>
				<label class="checkbox">
				
				</label><br/>
				
				<a href="aston_db9.htlm" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="aston_db9.html" class="btn btn-large">Detalles</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/rapide1.jpg" style="width: 300px; height: 150px;"alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5> Rapide S </h5>
				<p>
					A raíz de una receta única con los mejores ingredientes de la industria automotriz, el nuevo Rapide S es un coche como ningún otro. Su configuración de cuatro puertas y opulento interior proporcionan un ambiente inolvidable en la que mimar cuatro ocupantes adultos en lujo completo. Elegante y firme con un tren de potencia V12 potente y sofisticada clase, que está dotado con el estilo y el rendimiento de un verdadero Aston Martin.
				</p>
				<a class="btn btn-small pull-right" href="aston_rapide.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $290.000</h3>
				<label class="checkbox">
					
				</label><br/>
				
				  <a href="aston_rapide.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				  <a href="aston_rapide.html" class="btn btn-large">Detalles</a>
				
			</form>
			</div>
		</div>
		
		<hr class="soft"/>
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			<li class="span3">
			  <div class="thumbnail">
				<a href="aston_vanquish.html"><img src="/static/imagen/muestra/vanquish1.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>Vanquish</h5>
				  <p> 
					Vencer es la esencia destilada de Aston Martin en un hermoso diseño. Aumento rendimiento, artesanía meticulosa y lujo ofrecen una mezcla...
				  </p>
				  <h4><a class="btn btn-large" href="aston_vanquish.html">Ver</a> <span class="pull-right">$365.000</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="nissan_premium.html"><img src="/static/imagen/muestra/vantage1.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>Vantage V12</h5>
				  <p> 
					El V12 Vantage S ha tomado una receta abrasador y subió la temperatura. Capaz de acelerar desde el reposo hasta 60 mph ...
				  </p>
				  <h4><a class="btn btn-large" href="aston_vantage.html">Ver</a> <span class="pull-right">$327.000</span></h4>
				</div>
			  </div>
			</li>
			
			<li class="span3">
			  <div class="thumbnail">
				<a href="aston_roadster.html"><img src="/static/imagen/muestra/roadster1.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>Vantage Roadster V12</h5>
				  <p> 
					El ejemplo más potente de la gama Vantage descapotable, V12 Vantage Roadster se mezcla el poder impresionante de Aston Martin de aspiración natural ....
				  </p>
				   <h4><a class="btn btn-large" href="aston_roadster.html">Ver</a> <span class="pull-right">$380.000</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="aston_db9.html"><img src="/static/imagen/muestra/db1.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>DB9</h5>
				  <p> 
					La última de una dinastía ininterrumpida 50 años de modelos célebres DB, el nuevo DB9 es la columna vertebral de la gama Aston Martin....
				  </p>
				   <h4><a class="btn btn-large" href="aston_db9.html">Ver</a> <span class="pull-right">$315.000</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="aston_rapide.html"><img src="/static/imagen/muestra/rapide1.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5> Rapide S </h5>
				  <p> 
					A raíz de una receta única con los mejores ingredientes de la industria automotriz, el nuevo Rapide S es un coche como ningún otro....
				  </p>
				   <h4><a class="btn btn-large" href="aston_rapide.html">Ver</a> <span class="pull-right">$290.000</span></h4>
				</div>
			  </div>
			</li>
		  </ul>
	<hr class="soft"/>
	</div>
</div>

	
	<div class="pagination">
			<ul>
			<li><a href="#">&lsaquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">&rsaquo;</a></li>
			</ul>
			</div>
			<br class="clr"/>
</div>







{% endblock %}