{% extends "base.html" %}

{% block vehiculos %}

<div class="span9" id="mainCol">
<hr >
	<div>
		<h1>Visitanos</h1>
	</div>
	<hr/>	
	<div class="row">
		<div class="span4">
		<h4>Detalles de Contacto</h4>
		<p>	TUNJA-BOYACA,<br/>COL
			<br/><br/>
			sportcolombiacompany@gmail.com<br/>
			﻿Tel (8) 7445878<br/>
			Cel 304-449-6069<br/>
			web:colombiasportcar.com
		</p>		
		</div>
			
		<div class="span4">
		<h4>Horarios de atencion</h4>
			<h5> Lunes - Viernes</h5>
			<p>09:00 am - 06:00 pm<br/><br/></p>
			<h5>Sabado</h5>
			<p>10:00 am - 03:00 pm<br/><br/></p>
			<h5>Domingo</h5>
			<p>Solo por correo electronico<br/><br/></p>
		</div>
	</div>
	<div class="row">
	<div class="span12">
	<iframe width="1170" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zgQcsoTRsW8U.kdUUJ__kzQyI" width="640" height="480"></iframe><br /><small><a href="https://www.google.com/maps/place/Universidad+Pedagogica+y+Tecnologica+de+Colombia/@5.5488712,-73.3564992,16z/data=!4m2!3m1!1s0x0:0xf81252baaa14640d" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
	</div>
	</div>
</div>


	{% endblock %}