{% extends "base.html" %}

{% block vehiculos %}

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Inicio</a> <span class="divider">/</span></li>
		<li class="active">Vehiculos Ferrari</li>
    </ul>
	<h3> Vehiculos <small class="pull-right"> 6 Vehiculos activos </small></h3>	
	<hr class="soft"/>
	<p>
		Ferrari es un fabricante de automóviles deportivos con sede en Maranello (Italia). Fue fundada en 1929 por Enzo Ferrari como Scuderia Ferrari, construyendo automóviles de competición y más tarde, en 1947, también pasó a fabricar autos deportivos.
	</p>
		  
<div id="myTab" class="pull-right">
 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
 <a href="#blockView" data-toggle="tab"><span class="btn btn-large active"><i class="icon-th-large icon-white"></i></span></a>
</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/ferrary_berlineta.jpg" style="width: 300px; height: 150px;" alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5>Ferrary Berlinetta </h5>
				<p>
				El motor V12 a 65º, de 6.262 cc e inyección directa a 200 bares, ofrece unas prestaciones sin precedentes para un 12 cilindros atmosférico, tanto en términos de potencia como de revoluciones. Tiene una potencia máxima de 740 CV a 8.250 rpm, con una potencia específica de 118 CV/l, un récord absoluto para esta clase de motores. Capacidad de respuesta y aceleración brutal están aseguradas gracias a un par máximo de 690 Nm, el 80% del cual está ya disponible a sólo 2.500 rpm. 
				</p>
				<a class="btn btn-small pull-right" href="product_details.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3> $140.000.00</h3>
			  <a href="ferrari_berlineta.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
			  <a href="ferrari_berlineta.html" class="btn btn-large">Detalles</a>
			
				</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/Ferrari_Spider.jpg" style="width: 300px; height: 150px;"alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5>Ferrary 458 Spider </h5>
				<p>
				Un matrimonio sin esfuerzo de tecnología, diseño y belleza, este modelo es también el primer coche que combina un motor central trasero con un techo duro plegable, que aporta tanto un confort sin precedentes en el habitáculo cuando está cerrado, como el inigualable rendimiento de un Spider. 
				</p>
				<a class="btn btn-small pull-right" href="ferrari_spider.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $150.000.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Comprar
				</label><br/>
				
				<a href="ferrari_spider.htl" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="ferrari_spider.html" class="btn btn-large">Detalles</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/ferrari_ff.jpg" style="width: 300px; height: 150px;"alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5>Ferrari FF </h5>
				<p>El estilo del FF, creado por Pininfarina, es completamente nuevo en todos los sentidos de la palabra. El FF es moderno, innovador, futurista y verdaderamente elegante: el matrimonio perfecto entre las limitaciones impuestas por la aerodinámica y las reglas del diseño. Sin embargo, en una observación detallada el FF también exhibe el sello de su reconocible corazón Ferrari, un corazón que lo hace diferente a cualquier otro coche y, al mismo tiempo, enlaza con su herencia genética.
				</p>
				<a class="btn btn-small pull-right" href="ferrari_ff.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> $130.000.00</h3>
				<label class="checkbox">
					<input type="checkbox">  Comprar
				</label><br/>
				
				  <a href="ferrari-ff.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				  <a href="ferrari-ff.html" class="btn btn-large">Detalles</a>
				
			</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/458_italia.jpg" style="width: 300px; height: 150px;" alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5>458 Italia </h5>
				<p>
				El 458 Italia está disfrutando de un éxito sin fronteras, tanto por parte de la prensa como del público, pues ha ganado premios en diferentes países, desde EEUU hasta el Lejano Oriente, pasando por Europa. En los Estados Unidos, este vehículo con motor V8 central trasero fue nombrado "World Performance Car of the Year" (Coche Mundial con Mejores Prestaciones del Año). También se le eligió “Car of the Year” (Coche del Año) por el Robb Report y encabezó las clasificaciones del New York Times.
				</p>
				<a class="btn btn-small pull-right" href="product_details.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> $145.000.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Comprar
				</label><br/>
				
				<a href="product_details.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="product_details.html" class="btn btn-large">Detalles</a>
				
				</form>
			</div>
		</div>
	
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/458_especiale.jpg" style="width: 300px; height: 150px;" alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5>458 Speciale </h5>
				<p>
				Igual que todas las series especiales de Ferrari, el 458 Speciale incorpora unas cuantas soluciones tecnológicas avanzadas que hacen de él un modelo completamente único, diseñado para los clientes que buscan un coche aún más deportivo y que ofrezca emociones de conducción extremas. 
				</p>
				<a class="btn btn-small pull-right" href="spaciale.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> $180.000.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Comprar
				</label><br/>
				
				<a href="spaciale.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="spaciale.html" class="btn btn-large">Detalles</a>
				
				</form>
			</div>
		</div>
		<hr class="soft"/>
		<div class="row">	  
			<div id="productView" class="span2">
				<img src="/static/imagen/muestra/ferrari_california_T.jpg" style="width: 300px; height: 150px;"alt=""/>
			</div>
			<div class="span4">
				<h3>Nuevo | Activo</h3>				
				<hr class="soft"/>
				<h5>Ferrari California T </h5>
				<p>
				El Ferrari California T es la personificación de la elegancia sublime, la deportividad, versatilidad y exclusividad que ha distinguido al modelo California desde los años 50 del pasado siglo. Es un coche lleno de innovaciones,  que cumple con creces las expectativas de los clientes más exigentes, para quienes la diversión al volante es una prioridad, pero que también demandan el lujoso confort de un Gran Turismo que puedan utilizar todos los días.
				</p>
				<a class="btn btn-small pull-right" href="ferrari_california.html">Ver</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
				<h3> $174.000.00</h3>
				<label class="checkbox">
				<input type="checkbox">  Comprar
				</label><br/>
				
				<a href="ferrari_california.html" class="btn btn-large"><i class=" icon-shopping-cart"></i> Al Carrito</a>
				<a href="ferrari_california.html" class="btn btn-large">Detalles</a>
				
				</form>
			</div>
		</div>
		<hr class="soft"/>
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			<li class="span3">
			  <div class="thumbnail">
				<a href="ferrari_berlineta.html"><img src="/static/imagen/muestra/ferrary_berlineta.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>Ferrari Berlinetta</h5>
				  <p> 
					El motor V12 a 65º, de 6.262 cc e inyección directa a 200 bares, ofrece unas prestaciones...
				  </p>
				  <h4><a class="btn btn-large" href="ferrari_berlineta.html">Ver</a> <span class="pull-right">$140.000.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="ferrari_spider.html"><img src="/static/imagen/muestra/Ferrari_Spider.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>Ferrari 458 Spider</h5>
				  <p> 
					Un matrimonio sin esfuerzo de tecnología, diseño y belleza, este modelo es también el primer coche...
				  </p>
				  <h4><a class="btn btn-large" href="ferrari_spider.html">Ver</a> <span class="pull-right">$150.000.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="ferrari_ff.html"><img src="/static/imagen/muestra/Ferrari_FF.jpg" style="width: 300px; height: 150px;"alt=""/></a>
				<div class="caption">
				  <h5>Ferrari FF</h5>
				  <p> 
					El estilo del FF, creado por Pininfarina, es completamente nuevo en todos los sentidos..
				  </p>
				   <h4><a class="btn btn-large" href="ferrari_ff.html">Ver</a> <span class="pull-right">$130.000.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="ferrari_italia.html"><img src="/static/imagen/muestra/458_italia.jpg" style="width: 300px; height: 150px;"alt=""/></a>
				<div class="caption">
				  <h5>458 Italia</h5>
				  <p> 
					El 458 Italia está disfrutando de un éxito sin fronteras, tanto por parte de la prensa..
				  </p>
				   <h4><a class="btn btn-large" href="ferrari_italia.html">Ver</a> <span class="pull-right">$145.000.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="spaciale.html"><img src="/static/imagen/muestra/458_especiale.jpg" style="width: 300px; height: 150px;"alt=""/></a>
				<div class="caption">
				  <h5>458 Especiale</h5>
				  <p> 
					Igual que todas las series especiales de Ferrari, el 458 Speciale incorpora unas cuantas soluciones..
				  </p>
				   <h4><a class="btn btn-large" href="spaciale.html">Ver</a> <span class="pull-right">$180.000.00</span></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="ferrari_california.html"><img src="/static/imagen/muestra/ferrari_california_T.jpg" style="width: 300px; height: 150px;" alt=""/></a>
				<div class="caption">
				  <h5>Ferrari California T</h5>
				  <p> 
					El Ferrari California T es la personificación de la elegancia sublime, la deportividad, versatilidad y exclusividad..
				  </p>
				   <h4><a class="btn btn-large" href="ferrari_california.html">Ver</a> <span class="pull-right">$174.000.00</span></h4>
				</div>
			  </div>
			</li>
		  </ul>
	<hr class="soft"/>
	</div>
</div>

	
	<div class="pagination">
			<ul>
			<li><a href="#">&lsaquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">&rsaquo;</a></li>
			</ul>
			</div>
			<br class="clr"/>
</div>






{% endblock %}
